<div class="row">
  <div class="col-md-4">
    <%= image_tag @book.book_img.url(:book_show), class: "book-show" %>
  </div>
  <div class="col-md-8">
    <h2><%= @book.title %></h2>
    <h3><%= @book.author %></h3>
    <h4>Category: <%= @book.category.name %></h4>
    <p><%= @book.description %></p>

    <%= render @book.reviews %>
    <div>

      <%= link_to "Add review", new_book_review_path(@book), class: "btn btn-info btn-lg" %>

    </div>

    <%= link_to "Back", root_path, class: "btn btn-lg btn-primary" %>

    <% if user_signed_in? %>

      <% if @book.user_id.to_s == current_user.id.to_s %>
        <%= link_to "Edit", edit_book_path(@book), class: "btn btn-info btn-lg" %>

        <%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you sure" }, class: "btn btn-danger btn-lg" %>

      <% end %>
    <% end %>
  </div>
</div>


